{
  "extends": [
    "next"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "react/no-unknown-property": "off",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/jsx-no-duplicate-props": "off",
    "react/jsx-key": "off"
  }
}