$yellow: #f1c100;
$blue: #6ac3db;
$blue2: #bee3ee;
$black: #000000;
$white: #ffffff;

$themered: #ee767d;
$progressGrey: #e8e6e6;
$btngrey: #bababc;
$grey: #6a6a6d;
$secondaryGrey: #e5e5e5;
$thirdGrey: #acacac;
$grey4: #fafafa;
$grey5: #2e3a59;
$green: #86cf0e;
$orange: #f4aa71;
$purple: #c99fca;
$pink: #ed6888;

$red: #e52730;
$nightModeGrey: #4e4d50;
$green2: #00783B;
